body {
	font-size: 0.8em;
	font-family: arial, sans-serif;
	background-color: #ffe6ff;
}
header{
	text-align:center;
	background-color:#ccff33;
	color:#99ff33;
	margin:-10px;
	padding:10px;
}
h2{
	margin:5px;
	color:blue;
}
.body{
	float:right;
	margin-top:30px;
  margin:20px;
	background-color: #ffffff;
	width: 70%;
}
p{
	margin: 5px;
}
nav{
	float:left;
	min-height:100vh;
	background-color:#1a1a1a;
	margin-left:-10px;
}
nav a{
  color: #99ff33;
  display: block;
  padding: 12px;	background-color:#1a1a1a;
}
nav a{
  color: #99ff33;
  display: block;
  padding: 12px;
  text-decoration: none;
	width:50px;
  text-decoration: none;
	width:50px;
}
nav a:hover{
	background-color:#006600;
}
